/*ETIQUETAS PARA LA CABECERA*/


/* El atributo text-decoration permite quitar el subrayado que la etiqueta <a> tiene por defecto*/

* {
    margin: 0;
}

a {
    text-decoration: none;
}


/* El atributo list-style permite quitar las viñetas que la etiqueta <li> tiene por defecto*/

li {
    list-style: none;
}


/* Se definen determinados atributos a la etiqueta ul*/


/*El atributo (overflow: hidden) permite que el contenido no colapse.*/

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* Se definen determinados atributos a la cabecera. Color de fondo, padding, uppercase y la fuente*/

.cabecera {
    /*border: 1px blue solid;*/
    background-color: #2C3E50;
    padding: 21px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}


/* Se define el color de letra de los enlaces de la cabecera y su grosor*/

.cabecera a {
    color: white;
    font-weight: bold;
}


/* Se define el tamaño de la fuente del enlace del lado izquierdo. */

.cabecera .menu_izquierdo a {
    font-size: 26px;
}


/* Se define el tamaño de la fuente de los enlaces del lado derecho. */

.cabecera .derecho a {
    font-size: 14px;
}


/* Se definen determinados atributos al margen izquierdo*/

.menu_izquierdo {
    display: inline-block;
    margin-left: 120px;
}


/* Se definen determinados atributos al margen derecho*/

.menu_derecho {
    display: inline-block;
    /*border: 1px blue solid;*/
    margin-right: auto;
}


/* Se definen determinados atributos a cada li de la lista del menu derecho*/

.menu_derecho li {
    list-style: none;
    color: black;
    /*La propiedad Float permitió flotar los elementos li para ajustar el menú al diseño deseado*/
    float: left;
    /*border: 1px blue solid;*/
    margin-left: 0.9em;
}


/* Se definen determinados atributos a los enlaces, el color de la fuente y el grosor de la misma*/


/* Se define el comportamiento de los enlaces del lado derecho. Cuando el cursor del mouse este sobre cada enlace, éste cambia de color blanco a verde. */

.menu_derecho a:hover {
    color: #18BC9C;
}


/* Se definen estilos al menu del lado derecho. Se establece un margen izquierdo y un padding inferior*/

.menu_derecho ul {
    margin-left: 30em;
    padding-bottom: 4px;
}


/* Se define un margen derecho al link derecho*/

.menu_derecho h2 {
    margin-right: 16px;
}


/* Fin de estilos de la cabecera*/


/*ETIQUETAS PARA LA SECCIÓN PRESENTACIÓN*/

.presentacion {
    text-align: center;
    background-color: #18BC9C;
    padding: 6.1em;
    color: white;
}


/* Se le añade al selector descendiente un padding inferior*/

.logo_bob {
    padding-bottom: 1.2em;
    /*border: 1px magenta solid;*/
}


/* Se le añade al titulo h1, un tamaño de letra,un estilo a las letras, color, tipografia y grosor de letra.*/

.presentacion div:nth-child(2) h1 {
    font-size: 70px;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


/*Se le agrega margen inferior a las lineas que estan a los lados de la estrella*/

.presentacion div:nth-child(3) .linea {
    margin-bottom: 10px;
    width: 100px;
    height: 5px;
    margin-top: 10px;
    top: 5px;
    display: inline-block;
    background-color: white;
}

.presentacion div:nth-child(3) i {
    font-size: 24px;
    color: white;
}

.presentacion div:last-child h3 {
    margin-top: 17px;
    font-size: 25px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}


/* Fin de estilos de la presentacion*/


/*ETIQUETAS PARA LA SECCIÓN PORTAFOLIO*/

.portafolio {
    position: relative;
    text-align: center;
    top: 88px;
    /*border: 1px blue solid;*/
    margin-bottom: 104px;
}

.portafolio div:first-child {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #2C3E50;
    text-transform: uppercase;
}

.portafolio div:nth-child(2) .linea {
    width: 100px;
    height: 5px;
    display: inline-block;
    background-color: #2C3E50;
}

.portafolio div:nth-child(2) i {
    font-size: 24px;
    color: #2C3E50;
}

.portfolio_imagenes .portafolio_fila1 img,
.portafolio_fila2 img {
    margin-top: 20px;
    width: 350px;
    height: 251px;
}



.portfolio_imagenes .portafolio_fila1 li {
    float: left;
    padding: 14.2px;
    text-align: center;
}

.portfolio_imagenes .portafolio_fila2 li {
    float: left;
    padding: 14.2px;
    text-align: center;
}

.portfolio_imagenes {
    margin-left: 100px;
    /*border: 1px blue solid;*/
    padding-bottom: 85px;
}


/* Fin de estilos de la sección portafolio*/


/*ETIQUETAS PARA LA SECCIÓN ABOUT*/

.about {
    text-align: center;
    top: 88px;
    /*border: 1px blue solid;*/
    background-color: #18BC9C;
    font-family: 'Montserrat', sans-serif;
    padding: 87px;
    color: white;
}

.about div:first-child {
    top: 100px;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.about div:nth-child(2) .linea {
    width: 100px;
    height: 5px;
    display: inline-block;
    background-color: #ffffff;
}



.about_textos p {
    width: 350px;
    height: 136px;
    float: left;
    padding: 20px;
    text-underline-position: 10px;
}

.about_textos {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: left;
    max-height: 100;
    line-height: 1.5em;
    margin-bottom: 20px;

    
}


.about_boton a {
    display: inline-block;
    text-align: center;
    width: 178px;
    border: 2px white solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    color: #ffffff;
    top:18px;
    position: relative;
    bottom: 18px;
}

.about_boton a:hover {
    background-color: #ffffff;
    color: #2C3E50;
}    


/* Fin de estilos de la sección about*/

/*ETIQUETAS PARA LA SECCIÓN CONTACT*/
.contact_me {
    text-align: center;
    top: 88px;
    /*border: 1px blue solid;*/
    font-family: 'Montserrat', sans-serif;
    padding: 87px;
    margin-bottom: 18px;
}

.contact_me div:first-child {
    
    font-weight: bold;
    font-size: 30px;
    color: #2C3E50;
    text-transform: uppercase;
    text-align: center;
}

.contact_me div:nth-child(2) .linea {
    width: 100px;
    height: 5px;
    display: inline-block;
    background-color: #2C3E50;
}

.contact_me div:nth-child(2) i {
    color: #2C3E50;
    margin-bottom: 50px;
}

.contact_me div:nth-child(3) input {

    display: block;
    
    margin-left: 120px;
    padding-bottom: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 30px;
    width: 840px;
    
}

    





#email{
    font-size: 20px;
}



.contact_send a{
    display:inline-block;

    background-color: #18BC9C;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Montserrat', sans-serif;
    margin-top:6em;
    padding-left: 17.5px;
    padding-right: 17.5px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    /*border: 1px blue solid;*/
    margin-right:54em;
    color: #ffffff;
    font-weight: bold;

}

.contact_send a:hover{
    background-color: #2C3E50;
    
}







/* Fin de estilos de la sección contact*
/

/*ETIQUETAS PARA LA SECCIÓN FOOTER*/
footer {
    width: 100%;
    height: 30em;
    background-color: #2C3E50;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
footer .titulos_tabla {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
footer .titulos_sencillo {
    font-size: 18px;
    text-align: center;
}
footer .tabla2 {
    margin-top: 5em;
    padding-bottom: 2em;
    text-align: center;
    font-size: 14px;
}
.titulos_sencillo a {
    color: #18BC9C;
}
.titulos_sencillo td a {
    font-size: 20px;
    margin: 5px;
    color: white;
    border-radius: 200px 200px 200px 200px;
    border-color: 1px white solid;
}
.titulos_sencillo span i {
    width: 30px;
    height: 30px;
    /*border-color: 1px red solid;*/
}
.linea_decorada .linea {
    display: inline-block;
}
.contact_me .linea2 {
    display: inline-block;
    width: 3em;
    padding: 3px;

}

.contact_me .contact_linea{
    position: relative;
    bottom: 2em;
}



::-webkit-input-placeholder { font-size: 16px; }
::-moz-placeholder { font-size: 16px; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 16px; } /* ie */
input:-moz-placeholder { font-size: 16px; }


footer {

    box-sizing: border-box;
    /* border: 1px green solid; */
    text-align: center;
    display: block;
    height: 340px;
    
}
.top h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
}
.top .columna:last-child p {
    box-sizing: border-box;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 15px;
    text-align: center;
        line-height: 1.5em;

}
.top {
    padding-top: 50px;
    box-sizing: border-box;
    /* border: 1px pink solid; */
    text-align: center;
}
.wrapper {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* border: 1px red solid; */
}
.fila {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.fila>div {
    display: inline-block;
    box-sizing: border-box;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 380px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
}
.columna ul {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.columna ul li {
    box-sizing: border-box;
    margin-right: 5px;
    display: inline-block;
    text-align: center;
}
.columna ul li a {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 2px white solid;
    padding-top: 13px;
    color: white;
    transition: background-color 0.3s, width ease-in-out 0.4s,height ease-in-out 0.4s;
    
}
.columna ul li a:hover {
    background-color: white;
    width: 60px;
    height: 60px;
    color: #128F76;
}
.bottom {
    /* border: 1px pink solid; */
    padding: 40px;
    max-height: 100;
}

/* footer>div {
    width: 30%;
    display: inline-block;
    border: 1px blue solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
footer .columna div:first-child {
    border: 1px pink solid;
}
footer .columna div:last-child {
    padding: 30%;
}
footer .columna div ul li {
    display: inline-block;
} */

/* footer .columna1{
    width: 20%;
    margin: 0;
    padding: 0;
}

footer .columna2{
    width: 20%;
    margin: 0;
    padding: 0;
}

footer .columna3{
    width: 20%;
    margin: 0;

    padding: 0;
}
  
.columna2 li{
    float: left;
} */
/* Fin de estilos de la sección footer*

